[submodule "Carthage/Checkouts/ORSSerialPort"]
	path = Carthage/Checkouts/ORSSerialPort
	url = https://github.com/armadsen/ORSSerialPort.git
[submodule "Vendor/Mavlink"]
	path = Vendor/Mavlink
	url = https://github.com/mavlink/c_library.git
